<%= form_with(model: [post, comment]) do |f| %>
  <div class="form-control-worn">
    <%= f.text_field :body, class: "form-control" %>
    <%= f.submit submit_label, class: "btn btn-primary mt-1" %>
  </div>
<% end %>